/*Picture box*/
#meImg {
    position: relative;
    width: 450px;
    height: 650px;
    left: 15%;
    background-image: url("Rsc/I_Sleep.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 0 0 / 0 0 0 0 ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}
#meImg:hover {
    border-radius: 0 0 50% 50% / 0 0 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

/*Info Box on Right*/
.box {
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.4s;
    text-align: center;
}
.box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    box-sizing: border-box;
}
.box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
    box-sizing: border-box;
}
.box .fa {
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px !important;
    background-color: #fff;
    color: #2C3A47;
}
.box .fa2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.box .text {
    position: absolute;
    top: 30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    background-color: #2C3A47;
    border-radius: 3px;
    transition: 0.4s;
}
.box .text .fa1 {
    position: absolute;
    top: 0;
    left: 0;
}
.box .text div {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 30px 60px;
    line-height: 1.5;
    box-sizing: border-box;
}
.box .text div h3 {
    font-size: 30px;
    margin-bottom: 5px;
}
.box .text div p {
    font-size: 15px;
}
.box:hover {
    transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
}
.box:hover .text {
    transform: rotateY(20deg) skewY(-3deg);
}

/*Art slider*/
.slider {
    width: 55rem;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.wrapper {
    overflow: hidden;
    position: relative;
    background: #222;
    z-index: 1;
}

#items {
    width: 10000px;
    position: relative;
    top: 0;
    left: -300px;
}

#items.shifting {
    transition: left .2s ease-out;
}

.slide {
    width: 55rem;
    height: 40rem;
    cursor: pointer;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    background: #FFCF47;
}

.control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev {
    background-image: url(Rsc/left-chevron.png);
    left: -20px;
}

.next {
    background-image: url(Rsc/right-chevron-1.png);
    right: -20px;
}

.prev:active,
.next:active {
    transform: scale(0.8);
}